**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/bin
**/obj
**/out
**/TestResults
**/logs
**/.env
**/.env.*
**/Dockerfile*
**/docker-compose*
**/.dockerignore
tests/
*.md
LICENSE
